@import "tailwindcss";
@plugin "daisyui";


body {
    font-family: 'Poppins', sans-serif;
}


.rancho-font {
    font-family: 'Rancho', cursive;
}

.lobster-font {
    font-family: 'Lobster Two', cursive;
}